## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")

In [4]:
city_data_df.set_index('City_ID', inplace=True)
city_data_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
City_ID,,,,,,,,,
0,Busselton,-33.65,115.33,45.00,68,21,10.60,AU,few clouds
1,Lander,42.83,-108.73,78.80,36,1,6.35,US,clear sky
2,Bluff,-46.60,168.33,47.79,90,81,6.62,NZ,light rain
3,Dikson,73.51,80.55,47.64,100,100,14.58,RU,light rain
4,Komsomolskiy,40.43,71.72,80.60,47,0,2.24,UZ,clear sky

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
City_ID,,,,,,,,,
1,Lander,42.83,-108.73,78.80,36,1,6.35,US,clear sky
4,Komsomolskiy,40.43,71.72,80.60,47,0,2.24,UZ,clear sky
8,Alofi,-19.06,-169.92,71.60,100,2,1.12,NU,light rain
9,Bonavista,48.65,-53.11,70.97,74,18,17.72,CA,few clouds
12,Laohekou,32.39,111.67,81.27,88,85,1.81,CN,overcast clouds
14,Fare,-16.70,-151.02,78.49,78,64,16.87,PF,broken clouds
18,Birin,26.89,88.07,82.40,88,75,2.24,NP,broken clouds
19,Dwarka,22.24,68.97,83.21,86,100,17.25,IN,overcast clouds
21,Xuddur,4.12,43.89,78.91,55,42,19.39,SO,scattered clouds
23,Georgetown,5.41,100.34,82.40,88,20,2.24,MY,few clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City                   331
Lat                    331
Lng                    331
Max Temp               331
Humidity               331
Cloudiness             331
Wind Speed             331
Country                331
Current Description    331
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
1,Lander,US,78.80,clear sky,42.83,-108.73,
4,Komsomolskiy,UZ,80.60,clear sky,40.43,71.72,
8,Alofi,NU,71.60,light rain,-19.06,-169.92,
9,Bonavista,CA,70.97,few clouds,48.65,-53.11,
12,Laohekou,CN,81.27,overcast clouds,32.39,111.67,
14,Fare,PF,78.49,broken clouds,-16.70,-151.02,
18,Birin,NP,82.40,broken clouds,26.89,88.07,
19,Dwarka,IN,83.21,overcast clouds,22.24,68.97,
21,Xuddur,SO,78.91,scattered clouds,4.12,43.89,
23,Georgetown,MY,82.40,few clouds,5.41,100.34,

In [10]:
# 6a. Set parameters to search for hotels within 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"


    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.

In [12]:
import numpy as np
#replace all strings with NaN
hotel_df["Hotel Name"].replace('', np.nan, inplace=True)
print(hotel_df)

                       City Country  Max Temp Current Description    Lat  \
City_ID
1                    Lander      US     78.80           clear sky  42.83
4              Komsomolskiy      UZ     80.60           clear sky  40.43
8                     Alofi      NU     71.60          light rain -19.06
9                 Bonavista      CA     70.97          few clouds  48.65
12                 Laohekou      CN     81.27     overcast clouds  32.39
...                     ...     ...       ...                 ...    ...
676      Antigua Ocotepeque      HN     77.43          light rain  14.40
677             Mitsamiouli      KM     77.00          few clouds -11.38
678                  Bonthe      SL     78.17       broken clouds   7.53
679              Kralendijk      BQ     89.60       broken clouds  12.15
681                   Manta      EC     75.20       broken clouds  -0.95

            Lng                           Hotel Name
City_ID
1       -108.73  Holiday Inn Express & Suites Lander
4         71.72                            Ikathouse
8       -169.92                        Taloa Heights
9        -53.11             Abbott's Bed & Breakfast
12       111.67                       Laohekou Hotel
...         ...                                  ...
676      -89.20                  Turicentro Sandoval
677       43.28                            Foyer ADM
678      -12.51               Bonthe Holiday Village
679      -68.27  Divi Flamingo Beach Resort & Casino
681      -80.73                       Balandra Hotel

[331 rows x 7 columns]

In [13]:
#Drop all cells with NaN in the Hotel Name Column
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
1,Lander,US,78.80,clear sky,42.83,-108.73,Holiday Inn Express & Suites Lander
4,Komsomolskiy,UZ,80.60,clear sky,40.43,71.72,Ikathouse
8,Alofi,NU,71.60,light rain,-19.06,-169.92,Taloa Heights
9,Bonavista,CA,70.97,few clouds,48.65,-53.11,Abbott's Bed & Breakfast
12,Laohekou,CN,81.27,overcast clouds,32.39,111.67,Laohekou Hotel

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))